{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
  <article class="pa3 pa4-ns nested-copy-line-height">
    <section class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy {{ $.Param "text_color" | default "mid-gray" }}">
      {{- .Content -}}
    </section>

    <section class="mt5">
      <ul class="timeline-ul debug"> 
        {{ range (.Paginator.Pages.ByParam "when").Reverse }}
          <li class="timeline-li">
            {{with .Params.when }}<h3 class="timeline-floater">{{ . }}</h3>{{end}}</div>
            <div class="w-100 w-70-l mb2 mt2 bg-white tc pa2">
              <div class="pa3 gray overflow-hidden">
                <h1 class="near-black tl pl3">
                  <a href="{{ .RelPermalink }}" class="link black dim">
                    {{ .Title }}
                  </a>
                </h1>
              </div>
              <div class="gray nested-links">
                {{ .Summary }}
              </div>
             <!-- {{ .Render "summary-timeline" }} -->
            </div>
          </li>
        {{ end }}
      </ul>
    </section>
    
  </article>
{{ end }}

