.timeline-ul {
    display: flex;
    flex-direction: column;

    background-color: lightblue;
    padding-left: 20%;
    padding-right: 20%;
}

.timeline-box {
    border: solid 0px magenta;
}

.timeline-li {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    

    background-color: darkgray;
    border-left: 3px solid #000;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.timeline-li::before {
    position: relative;
    
    content: "";
    width: 36px;
    height: 36px;
    background-color: #000;
    border-radius: 25px;
    list-style-type: circle;
    margin-left: -28px;
    margin-right: 10px;
    margin-top: 3px;
  }