.timeline-ul {
    display: flex;
    flex-direction: column;
    padding-left: 20%;
    padding-right: 20%;
}

.timeline-li::before {
    position: relative;
    content: "";
    width: 36px;
    height: 36px;
    background-color: black;
    border-radius: 25px;
    margin-left: -28px;
    margin-right: 10px;
}

.timeline-floater{
    position: relative;
    margin-left: -25%;
    margin-right: 60px;
    vertical-align: text-top;
}


.timeline-li {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    
    border-left: 3px solid #000;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}



