.timeline-ul {
    display: flex;
    flex-direction: column;
    list-style: circle;
    padding-left: 20%;
}

.timeline-li {
    border-left: 3px solid #000;
    display: inline-flex;
    position: relative;
    padding-left: 10px;
}

.timeline-li::before {
    content: "";
    width: 36px;
    height: 36px;
    background-color: #000;
    display: inline-flex;
    position: relative;
    border-radius: 25px;
    margin-left: -28px;
    margin-right: 10px;
    margin-top: 3px;
  }